body {
    background-color: #ebd6c0;
}

.scrollup{
  width:40px;
  height:40px;
  opacity:0.3;
  position:fixed;
  bottom:50px;
  right:100px;
  display:none;
  text-indent:-9999px;
  background: url('../img/icon_top.png') no-repeat;
}

.header {
    background-image: url(../img/lenta.jpg);
    width: 100%; 
    height: 146px;
    margin: 20px 0px 0px;
}

.main {
    background-color: #edcaa5;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding-top: 5px;
}
.footer {
    background-image: url(../img/lenta.jpg);
    width: 100%;
    height: 70px;
    margin-top: 10px;
}

.all {
    background-color: white;
    width: 70%;
    height: 100%;
    margin: 0px 15% 0px;
    padding: 0px 3px 3px;
    box-shadow: 0px 0px 20px;
}

.begin {
    background-color: #edcaa5;
    width: 80%;
    height: 210px;
    margin: 5px 10% 0px;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    box-shadow: 0px 0px 5px;
}

.content {
    background-color: #edcaa5;
    width: 64%;
    height: 100%;
    margin: 15px 18% 0%;
    padding: 5px 5px 5px 9px;
    box-shadow: 0px 0px 10px;
    text-decoration: none
}

.pic {
  margin: 2px 2px 2px;
  box-shadow: 0 0 5px;
  border-radius: 5px;
}

.pic-teacher {
  display: block;
  margin: 2px auto 2px;
  box-shadow: 0 0 5px;
  border-radius: 5px;
}

.essay-pic {
  width: 45%;
  margin-left: 3%;
}

a {
  color: black;
  text-decoration:none
}

.pic:hover {
  box-shadow: 0px 0px 30px;
}

.pic-teacher:hover {
  box-shadow: 0px 0px 30px;
}

/* Меню */
*{box-sizing: border-box;}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
nav {background: black;}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul:after {
  content: "";
  display: table;
  clear: both;
}
nav a {
  text-decoration: none;
  display: block;
  transition: .3s linear;
}
.topmenu > li {
  float: left;
  position: relative;
  border-left: 1px solid black;
}
.topmenu > li:first-child {border-left: 0;}
.topmenu > li > a {  
  padding: 20px 30px;
  font-size: 12px;
  text-transform: uppercase;
  color: #FEFDFD;
  letter-spacing: 2px;
}
.topmenu > li > a.active, 
.submenu a:hover {color: #fe6101;}
.topmenu .fa, 
.submenu .fa {
  margin-left: 5px;
  color: inherit;
}
.submenu {
  position: absolute;
  z-index: 5;
  min-width: 200px;
  background: black;
  border-top: 1px solid #CBCBCC;
  border-left: 1px solid #CBCBCC;
  border-right: 1px solid #CBCBCC;
  visibility: hidden;
  opacity: 0; 
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: .3s linear;  
}
.submenu li {position: relative;}
.submenu li a {
  color: white;
  padding: 10px 20px;
  font-size: 13px;
  border-bottom: 1px solid #CBCBCC;
}
.submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
  transition: .3s linear;
}
nav li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}